.table-10{
    
        width: "25%";
        margin: 0 auto;
        padding: 15px;
        margin-top: 5%;
        font-family: "Press Start 2P", cursive;
        border: 2px solid white;
    }
.table-14{
        width: "50%";
        margin: 0 auto;
        padding: 15px;
        margin-top: 5%;
        font-family: "Press Start 2P", cursive;
        border: 2px solid white;
    }

